<!DOCTYPE html>
{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
{% set referer = app.request.headers.get('referer')|default('/') %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7">
    {% block header %}{% endblock %}
    <title>{% block title %}Site de streaming{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
          href="/css/style.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav style="width: 100%;" class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" title="Acceuil" href="/"><span>Site de streaming</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if currentPath == "/films" %}
                <li class="active nav-item"><a class="nav-link" href="{{ path("films") }}">Films</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ path("films") }}">Films</a></li>
            {% endif %}
            {% if currentPath == "/series" %}
                <li class="active nav-item"><a class="nav-link" href="{{ path("series") }}">Series</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ path("series") }}">Series</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                {% if me.perm == "uploader" %}
                    {% if currentPath == "/upload" %}
                        <li class="active nav-item">
                    {% else %}
                        <li class="nav-item">
                    {% endif %}
                    <a class="nav-link" href="{{ path("upload") }}"><span class="glyphicon glyphicon-user"></span>Upload</a></li>
                {% endif %}
                {% if me.perm == "moderateur" or me.perm == "admin" %}
                    {% if currentPath == "/admin/userList" %}
                        <li class="active nav-item">
                    {% else %}
                        <li class="nav-item">
                    {% endif %}
                    <a class="nav-link" href="{{ path("adminUserList") }}"><span class="glyphicon glyphicon-user"></span>Administration</a></li>
                {% endif %}
                {% if currentPath == "/compte/voir" %}
                    <li class="active nav-item">
                {% else %}
                    <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{{ path("voirCompte") }}"><span class="glyphicon glyphicon-user"></span>Mon compte</a>
                </li>
                {% if currentPath == "/logoutDemand" %}
                    <li class="active nav-item"><a class="nav-link" href="{{ path("logoutDemand") }}"><span class="glyphicon glyphicon-user"></span>Deconnexion</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path("logoutDemand") }}"><span class="glyphicon glyphicon-user"></span>Deconnexion</a></li>
                {% endif %}
                <li class="nav-item" style="color: #fff;">
                    {{ me.prenom }}<br/>
                    {{ me.nom }}<br/>
                </li>
            {% else %}
                {% if currentPath == "/login" %}
                    <li class="active nav-item"><a class="nav-link" href="{{ path("login") }}"><span class="glyphicon glyphicon-user"></span>Connexion</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path("login") }}"><span class="glyphicon glyphicon-user"></span>Connexion</a></li>
                {% endif %}
                {% if currentPath == "/register" %}
                    <li class="active nav-item"><a class="nav-link" href="{{ path("register") }}"><span class="glyphicon glyphicon-user"></span>Inscription</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path("register") }}"><span class="glyphicon glyphicon-user"></span>Inscription</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container body">
    <center>
    {% block body %}{% endblock %}
    </center>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/base.js"></script>
<script>
    {% if app.user %}
        const ownPerm = "{{ me.perm }}";
    {% else %}
        const ownPerm = "anonymous";
    {% endif %}
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
