{% extends 'base.html.twig' %}

{% block title %}Séries - Site de streaming{% endblock %}

{% block body %}
    Filtres :
    <br/>
    <table style="border-spacing: 5px; border-collapse: separate;">
        <tr>
            <td>
                Par nom :<input type="text" id="filtreNom" />
            </td>
            <td>
                Trier : <select id="filtreTrie">
                    <option value="alphaCroissant">Ordre alphabetique (croissant)</option>
                    <option value="alphaDecroissant">Ordre alphabetique (decroissant)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" colspan="2">
                <input type="button" value="Appliquer" onclick="filtre()"/>
            </td>
        </tr>
    </table>
    <h1>Saisons de {{ user.prenom }}  {{ user.nom }}</h1>
    <br/>
    <div id="displaySaison"></div>
{% endblock %}
{% block javascripts %}
    {% include 'filtres/javascript.twig' %}
    <script>
        let liste = [];

        {% for saison in user.saisons %}
        liste.push({
            id: {{ saison.id }}, titre: "{{ saison.nom }}",
            image: "{{ saison.image }}",
            {% if app.user %}
                your: {{ (saison.User.id == me.id) ? "true" : "false" }}
            {% else %}
                your: false
            {% endif %}
        });
        {% endfor %}

        if (liste.length == 0) {
            $("#displaySaison").html("<font size='3' color='orange'>Il n'y a aucune saison</font>");
        } else {
            liste = trieAlphabetique("croissant", liste);
            display(liste);
        }
        function display(saisonList) {
            if (saisonList.length == 0) {
                $("#displaySaison").html("<font size='3' color='orange'>Aucune saison trouvée</font>")
                return;
            }
            let top = 270;
            let left = 400;
            let listStr = "<br><br><br><br><br><br><br><br><br><br><br><br><br><br>";
            listStr += "<table>";
            for (let i=0;i<saisonList.length;i++) {
                let lien = "/series/saisons/episodes?id="+saisonList[i].id;
                listStr += "<tr><td>";
                listStr += "<p style='position: absolute; top: "+(top-20)+"px; left: "+left+"px;'><strong>"+saisonList[i].titre+"</strong></p><br/>";
                listStr += "<a href='"+lien+"'><img src='"+saisonList[i].image+"' style='position: absolute; top: "+top+"px; left: "+left+"px; width: 170px; height: 225px;' /></a>";
                if (saisonList[i].your || (ownPerm === "admin" & saisonList[i].permUploader !== "admin")) {
                    listStr += "<input onclick='supprSaison("+saisonList[i].id+")' style='position: absolute; z-index: 3; top: " + (top + 225) + "px; left: " + left + "px' type='button' value='supprimer' />";
                    if (saisonList[i].your) {
                        listStr += "<input onclick='location.href = `/modif/saison?id=" + saisonList[i].id + "`' style='position: absolute; z-index: 3; top: " + (top + 225) + "px; left: " + (left + 75) + "px' type='button' value='modifier' />";
                    }
                }
                listStr += "</td></tr>";
                left += 230;
                if (left >= 400+(230*3)) {
                    listStr += "<br><br><br><br><br><br><br><br><br><br><br><br>";
                    left = 400;
                    top += 300;
                }
            }
            listStr += "</table>";
            $("#displaySaison").html(listStr);
        }

        function supprSaison(id) {
            if (!confirm("ATTENTION! La suppression de cette saison entrenera celle de tous les episodes.\n Voulez vous continuer?")) {
                return;
            }
            if (!confirm("Êtes vous sûre de vouloir la supprimer ?")) {
                return;
            }
            let formData = new FormData();
            formData.append('id', id);

            $.ajax({
                url: 'http://' + window.location.hostname + ':8000/series/deleteSaison',
                data: formData,
                type: 'POST',
                processData: false,
                dataType: 'json',
                contentType: false,
                success: (data) => {
                    $("#buttons_" + id).css("display", "");
                    if (data.rep == "success") {
                        window.location.reload();
                    } else if (data.rep == "failed") {
                        let errorStr = "";
                        for (let i = 0; i < data.errors.length; i++) {
                            errorStr += data.errors[i] + "\n";
                        }
                        alert(errorStr);
                    }
                },
                error: function (xhr, rrr, error) {
                    alert(error);
                }
            });
        }
    </script>
{% endblock %}