{% extends 'base.html.twig' %}

{% block title %}Films - Site de streaming{% endblock %}

{% block body %}
    <br/>
    <h1>Les films</h1>
    <br/>
    <select style="position: absolute; left: 15%; top: {{ is_mobile() ? 19 : 25 }}%;" id="filtrePop" onchange="filtreChoosed()">
        <option value="pop">Les plus vus</option>
        <option value="popinv">Les moins vus</option>
    </select>
    <div style="position: absolute; left: {{ is_mobile() ? 60 : 75 }}%; top: {{ is_mobile() ? 19 : 25 }}%;"><input style="width: {{ is_mobile() ? 80 : 150 }}px;"placeholder="Recherche" value="{{ word }}" type="text" id="keyWord"/><input type="button" value="GO" onclick="searchByKeyWord()"/></div>
    <div id="displayFilm"></div>
{% endblock %}
{% block javascripts %}
    {% include 'filtres/javascript.twig' %}
    <script>
        $("#filtrePop").val("{{ filtre }}");
        const isMobile = (screen.width < screen.height);
        {% set nbSaga = 0 %}
        {% for saga in sagas %}
            {% if saga.films|length > 0 %}
                {% set nbSaga = nbSaga + 1 %}
            {% endif %}
        {% endfor %}

        {% if films|length + nbSaga > 0 %}
            let liste = [];
            {% for saga in sagas %}
                {% if saga.films|length > 0 %}
                    {% set scoreSaga = 0 %}
                    {% for film in saga.films %}
                        {% set scoreSaga = scoreSaga + film.vues %}
                    {% endfor %}
                    {% set scoreSaga = scoreSaga/saga.films|length %}
                    liste.push({type: 'saga', id: {{ saga.id }}, titre: "{{ saga.nom }}",
                        categorie: "{{ saga.categorie.nom }}",
                        image: "{{ saga.image }}",
                        {% if app.user %}
                            your: {{ (saga.User.id == me.id) ? "true" : "false" }},
                        {% else %}
                            your: false,
                        {% endif %}
                        permUploader: "{{ saga.User.perm }}",
                        idUploader: {{ saga.User.id }},
                        nameUploader: "{{ saga.User.prenom }} {{ saga.User.nom }}",
                        scorePop: {{ scoreSaga }}
                    });
                {% endif %}
            {% endfor %}

            {% for film in films %}
                liste.push({
                    type: 'film', id: {{ film.id }}, titre: "{{ film.titre }}", duree: "{{ film.duree|date('H:i') }}",
                    categorie: "{{ film.categorie.nom }}",
                    image: "{{ film.image }}",
                    {% if app.user %}
                        your: {{ (film.User.id == me.id) ? "true" : "false" }},
                    {% else %}
                        your: false,
                    {% endif %}
                    permUploader: "{{ film.User.perm }}",
                    idUploader: {{ film.User.id }},
                    nameUploader: "{{ film.User.prenom }} {{ film.User.nom }}",
                    scorePop: {{ film.vues }}
                });
            {% endfor %}

            liste = filtrePopu(liste,"{{ filtre }}");
            if ("{{ word }}" != "") {
                liste = filtreNom(liste, "{{ word }}");
            }
            const numberPerPage = (isMobile) ? 3 : 9;
            const start = {{ page }}*numberPerPage;
            const end = ({{ page }}+1)*numberPerPage;
            if (liste.length < start+1) {
                $("#displayFilm").html("<font color='orange' size='4'>Aucun métrage</font>");
            }
            if (liste.length >= end) {
                display(liste.slice(start, end));
            } else {
                display(liste.slice(start, liste.length));
            }
            let numPaginations = liste.length/numberPerPage;
            if (numPaginations % 1 != 0) {
                numPaginations = Math.floor(numPaginations + 1);
            }
            $("#displayFilm").append("<br/>");
            for (let i = 0;i<numPaginations;i++) {
                $("#displayFilm").append("<a href='/films/?page="+i+"&filtre={{ filtre }}{{ word != "" ? "&word="~word : "" }}'>"+(i+1)+"</a>");
                if (i < numPaginations-1) {
                    $("#displayFilm").append(" - ");
                }
            }
        {% else %}
            $("#displayFilm").html("<font color='orange' size='4'>Aucun film ou saga</font>");
        {% endif %}

        function display(filmList) {
            if (filmList.length == 0) {
                $("#displayFilm").html("<font size='3' color='orange'>Aucun film trouvé</font>")
                return;
            }
            let top;
            let left;
            if (!isMobile) {
                top = screen.height*0.35;
                left = screen.width*0.2;
            } else {
                top = screen.height*0.4;
                left = screen.width*0.45;
            }
            let listStr = "<br><br><br><br><br><br><br><br><br><br>";
            for (let i=0;i<filmList.length;i++) {
                let lien;
                let textBottom;
                let funcSuppr;
                if (filmList[i].type == "film") {
                    lien = "/films/view?id="+filmList[i].id;
                    textBottom = filmList[i].duree;
                    funcSuppr = "supprFilm";
                } else if (filmList[i].type == "saga") {
                    lien = "/films/viewSaga?id=" + filmList[i].id;
                    textBottom = "Saga";
                    funcSuppr = "supprSaga";
                }
                listStr += "<p style='position: absolute; top: "+(top-20)+"px; left: "+left+"px;'><strong>"+filmList[i].titre+" ("+filmList[i].categorie+")</strong></p><br/>";
                listStr += "<a href='"+lien+"'><img src='"+filmList[i].image+"' style='position: absolute; top: "+top+"px; left: "+left+"px; width: 170px; height: 225px;' /></a>";
                listStr += "<p style='position: absolute; top: "+(top+205)+"px; left: "+(left+135)+"px; z-index: 2; background-color: #000; color: #fff;'>"+textBottom+"</p>";
                if (filmList[i].your || (ownPerm === "admin" & filmList[i].permUploader !== "admin")) {
                    listStr += "<input onclick='"+funcSuppr+"("+filmList[i].id+")' style='position: absolute; z-index: 3; top: " + (top + 225) + "px; left: " + left + "px' type='button' value='supprimer' />";
                    if (filmList[i].your) {
                        if (filmList[i].type === "film") {
                            listStr += "<input onclick='location.href = `/modif/film?id=" + filmList[i].id + "`' style='position: absolute; z-index: 3; top: " + (top + 225) + "px; left: " + (left + 85) + "px' type='button' value='modifier' />";
                        } else if (filmList[i].type === "saga") {
                            listStr += "<input onclick='location.href = `/modif/saga?id=" + filmList[i].id + "`' style='position: absolute; z-index: 3; top: " + (top + 225) + "px; left: " + (left + 85) + "px' type='button' value='modifier' />";
                        }
                    }
                }
                if (!isMobile) {
                    left += 350;
                    if (left >= 300 + (350 * 3)) {
                        listStr += "<br><br><br><br><br><br><br><br>";
                        left = 300;
                        top += 300;
                    }
                } else {
                    top += 300;
                    listStr += "<br><br><br><br><br><br><br><br>";
                }
            }
            $("#displayFilm").html(listStr);
        }
        function supprSaga(id) {
            if (!confirm("ATTENTION! La suppression de cette saga entrenera celle de tous les films.\n Voulez vous continuer?")) {
                return;
            }
            if (!confirm("Êtes vous sûre de vouloir la supprimer ?")) {
                return;
            }
            let formData = new FormData();
            formData.append('id', id);

            $.ajax({
                url: 'http://' + window.location.hostname + ':8000/films/deleteSaga',
                data: formData,
                type: 'POST',
                processData: false,
                dataType: 'json',
                contentType: false,
                success: (data) => {
                    $("#buttons_" + id).css("display", "");
                    if (data.rep == "success") {
                        window.location.reload();
                    } else if (data.rep == "failed") {
                        let errorStr = "";
                        for (let i = 0; i < data.errors.length; i++) {
                            errorStr += data.errors[i] + "\n";
                        }
                        alert(errorStr);
                    }
                },
                error: function (xhr, rrr, error) {
                    alert(error);
                }
            });
        }

        function supprFilm(id) {
            if (!confirm("Êtes vous sûre de vouloir le supprimer ?")) {
                return;
            }
            let formData = new FormData();
            formData.append('id', id);

            $.ajax({
                url:'http://'+window.location.hostname+':8000/films/deleteFilm',
                data:formData,
                type:'POST',
                processData: false,
                dataType: 'json',
                contentType: false,
                success: (data) =>
                {
                    $("#buttons_"+id).css("display", "");
                    if (data.rep == "success") {
                        window.location.reload();
                    } else if (data.rep == "failed") {
                        let errorStr = "";
                        for (let i=0;i<data.errors.length;i++) {
                            errorStr += data.errors[i]+"\n";
                        }
                        alert(errorStr);
                    }
                },
                error:function(xhr,rrr,error)
                {
                    alert(error);
                }
            });
        }

        function filtreChoosed() {
            const filtre = $("#filtrePop").val();
            if ("{{ word }}" == "") {
                location.href = "/films/?page={{ page }}&filtre="+filtre;
            } else {
                location.href = "/films/?page={{ page }}&filtre="+filtre+"&word={{ word }}";
            }
        }

        function searchByKeyWord() {
            const keyWord = $("#keyWord").val();
            if (keyWord == "") {
                location.href = "/films/?page=0&filtre={{ filtre }}";
            } else {
                location.href = "/films/?page=0&filtre={{ filtre }}&word="+keyWord;
            }
        }
    </script>
{% endblock %}