{% extends 'base.html.twig' %}

{% block title %}Séries - Site de streaming{% endblock %}

{% block body %}
    <h1>Les series</h1>
    <br/>
    <select style="position: absolute; left: 15%; top: {{ is_mobile() ? 19 : 25 }}%;" id="filtrePop" onchange="filtreChoosed()">
        <option value="pop">Les plus vus</option>
        <option value="popinv">Les moins vus</option>
    </select>
    <div style="position: absolute; left: {{ is_mobile() ? 60 : 75 }}%; top: {{ is_mobile() ? 19 : 25 }}%;"><input style="width: {{ is_mobile() ? 80 : 150 }}px;"placeholder="Recherche" value="{{ word }}" type="text" id="keyWord"/><input type="button" value="GO" onclick="searchByKeyWord()"/></div>
    <div id="displaySerie"></div>
{% endblock %}
{% block javascripts %}
    {% include 'filtres/javascript.twig' %}
    <script>
        $("#filtrePop").val("{{ filtre }}");
        const isMobile = (screen.width < screen.height);
        let liste = [];
        {% set nbSerie = 0 %}
        {% for serie in series %}
            {% if serie.saisons|length > 0 %}
                {% set nbSaison = 0 %}
                {% for saison in serie.saisons %}
                    {% if saison.episodes|length > 0 %}
                        {% set nbSaison = nbSaison + 1 %}
                    {% endif %}
                {% endfor %}
                {% if nbSaison > 0 %}
                    {% set nbSerie = nbSerie+1 %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if nbSerie > 0 %}
            {% for serie in series %}
                {% set nbSaison = 0 %}
                {% for saison in serie.saisons %}
                    {% if saison.episodes|length > 0 %}
                        {% set nbSaison = nbSaison + 1 %}
                    {% endif %}
                {% endfor %}
                {% if nbSaison > 0 %}
                    {% set scoreSerie = 0 %}
                    {% for saison in serie.saisons %}
                        {% if saison.episodes|length > 0 %}
                            {% set scoreSaison = 0 %}
                            {% for episode in saison.episodes %}
                                {% set scoreSaison = scoreSaison + episode.vues %}
                            {% endfor %}

                            {% set scoreSaison = scoreSaison / saison.episodes|length %}
                            {% set scoreSerie = scoreSerie + scoreSaison %}
                        {% endif %}
                    {% endfor %}
                    {% set scoreSerie = scoreSerie/nbSaison %}
                    {% set scoreSerie = scoreSerie|round %}
                    liste.push({
                        id: {{ serie.id }}, type: "serie", titre: "{{ serie.nom }}",
                        image: "{{ serie.image }}", categorie: "{{ serie.categorie.nom }}",
                        {% if app.user %}
                        your: {{ (serie.User.id == me.id) ? "true" : "false" }},
                        {% else %}
                        your: false,
                        {% endif %}
                        permUploader: "{{ serie.User.perm }}",
                        idUploader: {{ serie.User.id }},
                        nameUploader: "{{ serie.User.prenom ~ " " ~ serie.User.nom }}",
                        scorePop: {{ scoreSerie }}
                    });
                {% endif %}
            {% endfor %}
            liste = filtrePopu(liste,"{{ filtre }}");
            if ("{{ word }}" != "") {
                liste = filtreNom(liste, "{{ word }}");
            }
            const numberPerPage = (isMobile) ? 3 : 9;
            const start = {{ page }}*numberPerPage;
            const end = ({{ page }}+1)*numberPerPage;
            if (liste.length < start+1) {
                $("#displaySerie").html("<font color='orange' size='4'>Aucun métrage</font>");
            }
            if (liste.length >= end) {
                display(liste.slice(start, end));
            } else {
                display(liste.slice(start, liste.length));
            }
            let numPaginations = liste.length/numberPerPage;
            if (numPaginations % 1 != 0) {
                numPaginations = Math.floor(numPaginations + 1);
            }
            $("#displaySerie").append("<br/>");
            for (let i = 0;i<numPaginations;i++) {
                $("#displaySerie").append("<a href='/films/?page="+i+"&filtre={{ filtre }}{{ word != "" ? "&word="~word : "" }}'>"+(i+1)+"</a>");
                if (i < numPaginations-1) {
                    $("#displaySerie").append(" - ");
                }
            }
        {% else %}
            $("#displaySerie").html("<font color='orange' size='4'>Aucune série</font>");
        {% endif %}

        function display(serieList) {
            if (serieList.length == 0) {
                $("#displaySerie").html("<font size='3' color='orange'>Aucune serie trouvé</font>")
                return;
            }
            let top;
            let left;
            if (!isMobile) {
                top = 300;
                left = screen.width*0.2;
            } else {
                top = 330;
                left = screen.width*0.45;
            }
            let listStr = "<br><br><br><br><br><br><br><br><br><br>";
            for (let i=0;i<serieList.length;i++) {
                let lien;
                let textBottom;
                lien = "/series/saisons?id="+serieList[i].id;
                textBottom = serieList[i].categorie;
                listStr += "<tr><td>";
                listStr += "<p style='position: absolute; top: "+(top-20)+"px; left: "+left+"px;'><strong>"+serieList[i].titre+"</strong></p><br/>";
                listStr += "<a href='"+lien+"'><img src='"+serieList[i].image+"' style='position: absolute; top: "+top+"px; left: "+left+"px; width: 170px; height: 225px;' /></a>";
                listStr += "<p style='position: absolute; top: "+(top+205)+"px; left: "+((left+170)-textBottom.length*8)+"px; z-index: 2; background-color: #000; color: #fff;'>"+textBottom+"</p>";
                if (serieList[i].your || (ownPerm === "admin" & serieList[i].permUploader !== "admin")) {
                    listStr += "<input onclick='supprSerie("+serieList[i].id+")' style='position: absolute; z-index: 3; top: " + (top + 225) + "px; left: " + left + "px' type='button' value='supprimer' />";
                    if (serieList[i].your) {
                        listStr += "<input onclick='location.href = `/modif/serie?id=" + serieList[i].id + "`' style='position: absolute; z-index: 3; top: " + (top + 225) + "px; left: " + (left + 85) + "px' type='button' value='modifier' />";
                    }
                }
                if (!isMobile) {
                    left += 350;
                    if (left >= 300 + (350 * 3)) {
                        listStr += "<br><br><br><br><br><br><br><br>";
                        left = 300;
                        top += 300;
                    }
                } else {
                    top += 300;
                    listStr += "<br><br><br><br><br><br><br><br>";
                }
            }
            $("#displaySerie").html(listStr);
        }

        function supprSerie(id) {
            if (!confirm("ATTENTION! La suppression de cette serie entrenera celle de toute les saisons et de tous les episodes.\n Voulez vous continuer?")) {
                return;
            }
            if (!confirm("Êtes vous sûre de vouloir la supprimer ?")) {
                return;
            }
            let formData = new FormData();
            formData.append('id', id);

            $.ajax({
                url: 'http://' + window.location.hostname + ':8000/series/deleteSerie',
                data: formData,
                type: 'POST',
                processData: false,
                dataType: 'json',
                contentType: false,
                success: (data) => {
                    $("#buttons_" + id).css("display", "");
                    if (data.rep == "success") {
                        window.location.reload();
                    } else if (data.rep == "failed") {
                        let errorStr = "";
                        for (let i = 0; i < data.errors.length; i++) {
                            errorStr += data.errors[i] + "\n";
                        }
                        alert(errorStr);
                    }
                },
                error: function (xhr, rrr, error) {
                    alert(error);
                }
            });
        }

        function filtreChoosed() {
            const filtre = $("#filtrePop").val();
            if ("{{ word }}" == "") {
                location.href = "/series/?page={{ page }}&filtre="+filtre;
            } else {
                location.href = "/series/?page={{ page }}&filtre="+filtre+"&word={{ word }}";
            }
        }

        function searchByKeyWord() {
            const keyWord = $("#keyWord").val();
            if (keyWord == "") {
                location.href = "/series/?page=0&filtre={{ filtre }}";
            } else {
                location.href = "/series/?page=0&filtre={{ filtre }}&word="+keyWord;
            }
        }
    </script>
{% endblock %}