{% extends 'base.html.twig' %}

{% block title %}modifier {{ episode.titre }}{% endblock %}

{% block body %}
    <input type="button" value="<=" onclick="location.href = '{{ referer }}'"/>
    <br/>
<h1>Modifier {{ episode.titre }}</h1>
    <br/>
    <br/>
    <table>
        <tr>
            <td>Titre : </td><td><input id="titre" type="text"/></td>
        </tr>
        <tr>
            <td>Duree : </td><td><input id="duree" type="time"/></td>
        </tr>
        <tr>
            <td>Synopsis : </td><td><textarea id="synopsis"></textarea></td>
        </tr>
        <tr>
            <td>Saison : </td><td>
                <select id="saison" onchange="saisonChoiced()">
                    {% for saison in saisons %}
                        {% if saison.User.id == me.id or saison.id == episode.Saison.id %}
                            <option value="{{ saison.id }}">{{ saison.nom }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Les URLs</td><td><textarea style="width: 600px; height: 100px;" id="URLs"></textarea></td>
        </tr>
        <tr>
            <td>Changer le propriétaire</td><td>
                <select id="proprio" onchange="proprioChanged()">
                    {% if me.perm == "admin" %}
                        <option value="{{ me.id }}">{{ me.prenom }} {{ me.nom }}</option>
                    {% endif %}
                    {% for user in users %}
                        {% if user.perm == "uploader" %}
                            <option value="{{ user.id }}">{{ user.prenom }} {{ user.nom }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    <div id="msg"></div>
    <br/>
    <input type="button" value="Appliquer" onclick="modifFilm()"/>
{% endblock %}
{% block javascripts %}
<script>
    let proprio = "{{ me.id }}";
    $("#titre").val(`{{ episode.titre|raw }}`);
    $("#duree").val(`{{ episode.duree|date("H:i") }}`);
    $("#synopsis").val(`{{ episode.synopsis|replace({"\n": "\\n", "\r": "\\r"})|raw }}`);
    $("#saison").val(`{{ episode.saison.id }}`);
    $("#URLs").val("");
    {% for url in episode.uRLs %}
        $("#URLs").val($("#URLs").val()+`\n{{ url.lien|raw }}`);
    {% endfor %}
    $("#URLs").val($("#URLs").val().substring(1,$("#URLs").val().length));
    $("#proprio").val("{{ me.id }}");

    function modifFilm() {
        const titre = $("#titre").val();
        const duree =  $("#duree").val();
        const synopsis = $("#synopsis").val();
        const idSaison = $("#saison").val();
        const idProprio = $("#proprio").val();
        const URLs = remplace($("#URLs").val(),"\n",",");
        let formData = new FormData();
        formData.append("id", {{ episode.id }});
        formData.append('titre', titre);
        formData.append('duree', duree);
        formData.append('synopsis', synopsis);
        formData.append('idSaison', idSaison);
        formData.append('idProprio', idProprio);
        formData.append('URLs', URLs);

        $.ajax({
            url: 'http://'+window.location.hostname+':8000/modif/applyEpisode',
            data: formData,
            type:'POST',
            processData: false,
            dataType: 'json',
            enctype: 'multipart/form-data',
            contentType: false,
            success: (data) =>
            {
                if (data.rep == "success") {
                    location.href = "{{ referer }}";
                } else if (data.rep == "failed") {
                    $("#msg").empty();
                    let errorStr = "<ul>";
                    for (let i=0;i<data.errors.length;i++) {
                        errorStr += "<li><font size='3' color='red'>"+data.errors[i]+"</font></li>";
                    }
                    errorStr += "</ul>";
                    $("#msg").append(errorStr);
                }
            },
            error:function(xhr,rrr,error)
            {
                alert(error);
            }
        });

    }
    function saisonChoiced() {
        const saga = $("#saga").val();
        if (saga == "") {
            $("#PrenomNomEtCategorie").css("display","");
        } else {
            $("#PrenomNomEtCategorie").css("display","none");
        }
    }

    function proprioChanged() {
        if ($("#proprio").val() == "{{ me.id }}") {
            proprio = $("#proprio").val();
            return;
        }
        if (proprio != "{{ me.id }}") {
            proprio = $("#proprio").val();
            return;
        }
        if (confirm("ATTENTION! Si vous attribuez ce film à quelqu'un d'autre, vous ne pourrez plus rien faire dessus\nVoulez vous continuer?")) {
            proprio = $("#proprio").val();
            return;
        } else {
            $("#proprio").val(proprio);
        }
    }


</script>
{% endblock %}
